---
layout: default
---

{% include header.html %}

<hr />

<section class="post-home">
  <ul class="post-list">
    {% assign sorted = site.[page.collection] | reverse %}
    {% for item in sorted %}
      <li>
        <a href="{{ item.url | prepend: site.baseurl }}">
            <time class="dates">{{ item.date | date: "%d/%m/%Y" }}</time>
            <h2>{{ item.title }}</h2>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-link" href="{{ paginator.previous_page_path }}" class="previous">
        <span class="arrow">&larr;</span> Anterior
      </a>
    {% endif %}
    {% if paginator.next_page %}
      <a class="pagination-link" href="{{ paginator.next_page_path }}" class="next">
        Próxima <span class="arrow">&rarr;</span>
      </a>
    {% endif %}
</section>
